<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role.name}}</td>
        <td>
            <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary"
             (click)="delete(user.id)"
          >Delete</a>
        </td>

    </tr>
</tbody>
</table>
</div>

<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="previous()">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" (click)="next()">Next</a>
        </li>
    </ul>
</nav>

